body {
	text-rendering: optimizeLegibility;
	font-family: sans-serif;
	margin: 0;
}

.space-smol {
	height: 5px;
}

.social {
	margin: auto;
	width: 50%;
}

.social * {
	border-radius: 50%;
	margin-right: 5px;
	transition: 300ms;
	width: 64px;
}

.social :last-child {
	margin-right: 0;
}

.social * :hover {
	transition: 300ms;
	transform: scale(1.1);
	border-radius: 15px;
}

#propic {
	margin-right: auto;
	border-radius: 50%;
	margin-left: auto;
	margin-bottom: 0%;
	display: block;
	width: 35%;
}

#name {
	margin: 0;
}

#role {
	font-size: 100%;
	margin-top: 0;
}

#aboutme {
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	text-indent: 25px;
	max-width: 550px;
	margin-top: 20px;
}
