html {
	background-color: #101316;
}

.nav-bar {
	margin: 0;
	background-color: #1f2026;
}

.nav-bar img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.nav-bar hr {
	height: 0px;
	width: 100%;
}
